.headerstyle {
    width: 100%;
    height: 110px;
}

.headertext {
    padding-top: 35px;
    padding-bottom: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
}

.nav_headerpadding {
    padding: 12px;
    background-color: white;
}