
.divider {
    background-color: black;
    color: white;
    padding: 5px 5px 5px 10px;
}

.app {
    width: 100%;
}


.menumargin {
    padding: 4px;
}

ion-grid {
    // height: 435px;
    background-color: black;
}

.views {
   padding: 10px;
}